Repository Letto228/Angular-learnjs-150523: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prt, ng lint

changes eslint
  .husky/pre-commit
Due: none

create mistake
  src/user.interface.ts
Due: npm run prt, ng lint

create mistake
  .lintstagedrc.json
  src/user.interface.ts
Due: npm run prt, ng lint

#lecture-2 / Used custom attr
  src/app/pages/products-list/card/card.component.html
Due: none

fix(cardComponent): made a correction according to the comments
  angular.json
  src/app/app.component.css
  src/app/app.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/card/card/card.component.css
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/styles.css
Due: npm run prt, ng lint

fix: repair wrong naming
  src/app/eslinttest.ts
  src/user.interface.ts
Due: npm run prt, ng lint

feat: added product card component
  angular.json
  package-lock.json
  package.json
  src/app/app.component.css
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

#lecture-2 / Fix after review
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npm run prt, ng lint

fix: add card variable
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npm run prt, ng lint

feat: add card component
  src/app/app.component.css
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

feat: add button click
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npm run prt, ng lint

feat: lecture-2 add card component
  src/app/app.component.css
  src/app/app.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

fix: created new product card component, fixed event name to "event" instead e
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

feat: add card component
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/card/components/card/card.component.css
  src/app/pages/products-list/card/components/card/card.component.html
  src/app/pages/products-list/card/components/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

feat: stopPropagation on button click
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
Due: npm run prt, ng lint

feat: change the purchase card logic
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

#lecture-3 / Updated card component
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

feat: modify eslint, prettier, tsconfig
  .eslintrc.json
  .prettierrc.js
  tsconfig.json
Due: npm run prt, ng lint

feat: add card & product-list interaction
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

feat: add card, rating components
  angular.json
  src/app/app.component.css
  src/app/components/header/header.component.css
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products/product.mock.ts
  src/styles.css
Due: npm run prt, ng lint

feat: add card, rating components
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/shared/rating/rating.component.css
  src/app/shared/rating/rating.component.html
  src/app/shared/rating/rating.component.spec.ts
  src/app/shared/rating/rating.component.ts
  src/app/shared/rating/rating.module.ts
Due: npm run prt, ng lint

feat: remove useless code
  angular.json
Due: npm run prt

feat: remove useless code
  src/app/shared/rating/rating.component.css
  src/styles.css
Due: npm run prt

feat: add test
  src/styles.css
Due: npm run prt

test: check branch lecture-3
  src/styles.css
Due: npm run prt

feat: modify card component
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

feat: modify card component
  src/app/pages/products-list/card/card.component.html
Due: none

edit settings prettier
  .eslintrc.js
  .prettierrc.js
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/components/header/header.module.ts
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/sidenav/sidenav.module.ts
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.spec.ts
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/application-config/application-config.interface.ts
  src/app/shared/application-config/application-config.mock.ts
  src/app/shared/products/product.interface.ts
  src/app/shared/products/products.mock.ts
  src/main.ts
Due: npm run prt, ng lint

fix: исправил замечания
  src/app/pages/products-list/card/components/card/card.component.html
Due: none

feat: lecture-3 homework
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

feat: add @Input component
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

feat: fill card with data
  angular.json
  src/app/app.component.css
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

build(lecture-2): homework
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

feat: proxy data to products-list
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

feat: create new product-card component
  src/app/app.component.css
  src/app/components/header/header.component.css
  src/app/pages/products-list/card/product-card.component.css
  src/app/pages/products-list/card/product-card.component.html
  src/app/pages/products-list/card/product-card.component.spec.ts
  src/app/pages/products-list/card/product-card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

feat: add review fixes
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/products-list.component.css
  src/app/shared/rating/rating.component.html
  src/app/shared/rating/rating.component.ts
Due: npm run prt, ng lint

build(lecture-3): homework
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prt, ng lint

feat: add and fill card comonent
  angular.json
  src/app/app.component.css
  src/app/app.module.ts
  src/app/components/header/header.component.css
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prt, ng lint

feat: add event argument to callback
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npm run prt, ng lint

Path conditions:
  npm run prt: ((any of: *.{ts,js}) or (any of: *.css)) or (any of: *.json)
  ng lint: any of: *.{ts,js}
